<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.futureinterface.bambooreader" version="0.1">
    <name>BambooReader</name>
    <description>BambooReader Phonegap plugin</description>
    <license>All rights reserved. Future Interface 2012-2014</license>
    <keywords>cordova,phonegap,ereader,bambooreader</keywords>
    <js-module src="www/bambooreaderplugin.js" name="bambooreaderplugin">
        <clobbers target="bambooreaderplugin" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BambooReaderPlugin">
                <param name="ios-package" value="BambooReaderPlugin"/>
            </feature>
        </config-file>
        <header-file src="src/ios/BambooReaderPlugin.h" />
        <source-file src="src/ios/BambooReaderPlugin.mm" />
    </platform>
</plugin>
